.caveat{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.open-sans{
  font-family: "Open Sans", sans-serif; 
  font-optical-sizing: auto;
  font-style: normal;
}